html,body{
    width:100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 41rem;
}

nav{
    display: inline-block;
    width: 73%;
    text-align: center;
}

nav > a{
    margin: 2rem;
    color: white;
    font-size: 24px;
}

.login{
    margin-top: 2rem;
    margin-right: 6rem;
    width: 7%;
    height: 8%;
    border: 0px;
    border-radius: 35px;
    font-size: 18px;
}

.logo{
    margin-top: 2rem;
    margin-left: 6rem;
}

.contenitore{
    height: 30%;
}

.contenitore > h1{
    color: white;
    text-align: center;
    margin-top: 10rem;
    margin-right: 2rem;
    font-size: 60px;
}

.contenitore > p{
    width: 50%;
    text-align: center;
    color: white;
    font-size: 24px;
    margin: auto;
}

.download{
    text-align: center;
    height: 30%;
}

.mac{
    background-color: white;
    width: 13%;
    height: 100%;
    border: 0px;
    border-radius: 35px;
    font-size: 22px;
    margin: 1rem;
}

.browser{
    color: white;
    background-color: rgb(34, 26, 26);
    border: 0px;
    width: 18%;
    height: 100%;
    border-radius: 35px;
    font-size: 22px;
    margin: 1rem;
}

.main{
    width: 100%;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 8rem;
    
}


.img1{
    flex-basis: 45%;
    
}

.item1{
    flex-basis: 30%;
}

.item1 > h1{
    width: 70%;
    font-size: 3rem;
}

.item1 > p{
    width: 70%;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
}

.flex2{
    background-color:rgb(246, 243, 243);
}

.img2{
    flex-basis: 40%;
    
}

.item2{
    flex-basis: 30%;
}

.item2 > h1{
    width: 70%;
    font-size: 3rem;
}

.item2 > p{
    width: 70%;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
}

.img3{
    flex-basis: 45%;
    
}

.item3{
    flex-basis: 30%;
}

.item3 > h1{
    width: 70%;
    font-size: 3rem;
}

.item3 > p{
    width: 70%;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
}

.flex4{
    flex-direction: column;
    align-items: center;
    background-color:rgb(246, 243, 243);
    margin-bottom: 0;
}

.item4 > h1{
    width: 70%;
    font-size: 3rem;
    margin: auto;
    text-align: center;
}

.item4 > p{
    width: 70%;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
    margin: auto;
    text-align: center;
}

.img4{
    width: 70%;
}

.avventura{
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: 34%;
    height: 6rem;
    text-align: center;
    padding-top: 2.5rem;

}

.mac2{
    background-color: rgb(126, 175, 240);
    color: white;
    width: 13%;
    height: 3.5rem;
    border: 0px;
    border-radius: 35px;
    font-size: 22px;
    margin: 1rem;
}

.flex5{
    background-color: rgb(44, 42, 60);
    align-items: stretch;
    height: 40rem;
    justify-content: space-around;
    padding-top: 5rem;
    margin-top: 0;
    margin-bottom: -2rem;
}

.social{
    margin-left: 10rem;
}

.social > h1{
    color: rgb(50, 80, 214);
    font-size: 3rem;
    width: 24rem;
    margin-bottom: 1rem;
}

.social > img{
    width: 5%;
}

.social > p{
    color: white;
    display: inline;
}
span{
    font-size: 20px;
    color: white;
}
.fa-brands{
    color: white;
    margin-top: 2rem;
    margin-right: 1.5rem;
    font-size: 2rem;;
}

h5{
    color: rgb(50, 80, 214);
    font-size: 1rem;
    margin: 2rem;
}

section nav{
    text-align: left;
    height: 15rem;
    width: 15rem;
}

section a{
    font-size: 1rem;
    letter-spacing: 0.04em; 
    line-height: 2.5em;
}

hr{
    color:blue;
    margin-left:12rem;
    margin-right:7em;
}

footer{
    background-color: rgb(44, 42, 60);
    height: 7rem;
}

footer img{
    margin-left: 12rem;
    margin-top: 1rem;
}

footer button{
    background-color: rgb(126, 175, 240);
    color: white;
    width: 10%;
    height: 3rem;
    border: 0px;
    border-radius: 35px;
    font-size: 22px;
    margin: 1rem;
    float: right;
    margin-right: 7rem;
}